:root {
  --body-text-color: rgb(33, 33, 33);
  --image-text-color: rgb(117, 117, 117);
  --background-botton-color: rgb(33, 150, 243);
  --white-color: rgb(255, 255, 255);
  --footer-background-color: rgb(47, 48, 58);
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --icon-clients: rgba(175, 177, 184, 1);
  --back-svg-color: rgb(245, 244, 250);
  --text-on-image: rgba(47, 48, 58, 0.8);
  --time-for-hover: 250ms;
  --timing-fuktion: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, Open-Sans;
  font-weight: 400;
  color: var(--body-text-color);
}

/* ----------------------------------------Загальні----- */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
p,
ul,
nav {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

div.container-header {
  display: flex;
  align-items: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ------------------------------- ХЕДЕР---- */

.header {
  height: 80px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
}

.headear-portfolio {
  border: 1px solid #ececec;
}

.logo {
  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--body-text-color);
  font-family: Raleway;
}

.all-logo {
  margin-left: 0px;
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;

  font-size: 26px;
  line-height: 1.2;
  font-weight: 700;
}

.color-logo {
  color: var(--background-botton-color);
  font-family: Raleway;
}

.menu {
  display: flex;
}
.store-active {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--background-botton-color);
}
.store-active::after {
  content: '';
  display: block;

  margin-top: 29px;
  width: 100%;
  height: 4px;
  left: 551px;
  top: 76px;

  background-color: var(--background-botton-color);
}
.menu li.header + li.header {
  margin-left: 50px;
}

.menu-color {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: color, background-color;

  color: var(--body-text-color);
}

.menu-color:hover,
.menu-color:focus {
  color: var(--background-botton-color);
  background-color: var(--white-color);
}

.adress-header {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.adress-header li.header + li.header {
  margin-left: 50px;
}

.contacts {
  cursor: pointer;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: color;

  color: var(--footer-contacts-color);
}

.contacts:hover,
.contacts:focus {
  color: var(--background-botton-color);
}

.header-color-contacts {
  display: flex;
  cursor: pointer;

  align-items: center;
  color: #757575;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: color;
}

.header-color-contacts:hover,
.header-color-contacts:focus {
  color: var(--background-botton-color);
}

.heder-contacts {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header-mail {
  width: 20px;
  height: 20px;
  cursor: pointer;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: fill;

  fill: var(--image-text-color);
}

.header-color-contacts:hover .header-mail,
.header-color-contacts:focus .header-mail {
  fill: var(--background-botton-color);
}

.header-icon-phone {
  width: 20px;
  height: 20px;
  cursor: pointer;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: fill;

  fill: var(--image-text-color);
}

.header-color-contacts:hover .header-icon-phone,
.header-color-contacts:focus .header-icon-phone {
  fill: var(--background-botton-color);
}

.header-nomber {
  margin-left: 10px;
}

/*-------------------------------------- Меню  ПОРТФОЛІО */

.menu-portfolio {
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: var(--image-text-color);
  border-radius: 4px;

  font-size: 16px;
  line-height: 1.6;
  font-family: Roboto;
  font-weight: 500;

  background-color: rgb(245, 244, 250);
  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: color, background-color, box-shadow;
}

.menu-portfolio:hover,
.menu-portfolio:focus {
  color: var(--white-color);
  background-color: var(--background-botton-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/*-------------------------------------- СЕКЦІЯ ГЕРОЙ */
.hero {
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.5)),
    url(../image/work-proces.jpg);

  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;

  color: var(--white-color);
}

.hero.section {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}

.h1 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;

  text-align: center;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.index-bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  font-family: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--background-botton-color);
  color: var(--white-color);
  cursor: pointer;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: background-color, color;
}

.index-bottom:hover,
.index-bottom:focus {
  color: var(--white-color);
  background-color: var(--background-botton-color);
}
/* -----------MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);

  top: 40%;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
}
.button-modal-close {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.icon-close {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 5px;
  left: 5px;
  width: 18px;
  height: 18px;
}
/* --------------------------what we do  */

.what-we-do {
  display: flex;
}

.we-do-items {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 120px;

  fill: var(--body-text-color);
  background-color: var(--back-svg-color);
}

.item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
}

.svg-we-do {
  width: 70px;
  height: 70px;
}

.item:nth-child(4n) {
  margin-right: 0;
}

.index-smoll-text {
  color: var(--image-text-color);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.title-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-top: 30px;
  margin-bottom: 10px;
}

.our-work {
  visibility: hidden;
  height: 0;
}

.photo-text {
  position: absolute;
  bottom: 0;
  right: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
  background-color: var(--text-on-image);
}

/* -------------------------index work proces */
.section-exemples {
  padding-top: 0;
}

.photo-work-proces {
  display: flex;
  flex-wrap: wrap;
}

.photo-item {
  position: relative;
  margin-right: 30px;
}

.photo-item:nth-child(3n) {
  margin-right: 0;
}

.title-h2 {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
}

/* ------------------------------------team */
.team-list {
  display: flex;
  flex-wrap: wrap;
}

.person {
  display: block;
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  border-radius: 0px 0px 4px 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--white-color);
}

.person:nth-child(4n) {
  margin-right: 0;
}

.person-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}

.team {
  background: #f5f4fa;
}

.image-class {
  width: 100%;
}

.name-workers {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.profession-worker {
  text-align: center;

  color: var(--image-text-color);
  font-size: 16px;
  line-height: 1.18;
}

.person-list-items:not(:first-child) {
  margin-left: 10px;
}

.person-icon-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: background-color;
}

.person-icon-1:hover,
.person-icon-1:focus {
  background-color: var(--background-botton-color);
}

.person-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-clients);
  cursor: pointer;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: fill;
}

.person-icon-1:hover .person-icon,
.person-icon-1:focus .person-icon {
  fill: var(--white-color);
}

/* --------------------------OUR CLIENTS */
.clients-list {
  display: flex;
  flex-direction: row;
}

.clients-item {
  width: 170px;
  height: 92px;
}

.clients-item:not(:first-child) {
  margin-left: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;

  width: 170px;
  height: 92px;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: fill;
}

.clients-icon {
  width: 106px;
  height: 60px;

  fill: var(--icon-clients);
  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: border;
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--background-botton-color);
}

.clients-item:hover .clients-link,
.clients-item:focus .clients-link {
  border: 1px solid var(--background-botton-color);
}

/* -------------------------------Portfolio button */
.botton-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-botton-portfolio {
  margin-right: 8px;
}

.list-botton-portfolio:last-child {
  margin-right: 0;
}
/*--------------------------------- Portfolio our projects */
/* list our progect */
.botton-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-botton-portfolio {
  margin-right: 8px;
}

.list-botton-portfolio:last-child {
  margin-right: 0;
}
/*     --------------------------Список наших проектів Portfolio */
.progects {
  display: flex;
  flex-wrap: wrap;
}

.progects-item {
  position: relative;

  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.progects-item:nth-child(3n) {
  margin-right: 0px;
}

.progects-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.progects-link {
  display: block;

  width: 370px;
  height: 404px;

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: background-color, box-shadow;

  color: var(--body-text-color);
}

.progects-link:hover,
.progects-link:focus {
  background-color: #ffffff;

  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.progects-thumb {
  overflow: hidden;
  position: relative;
}
.progects-overlay {
  position: absolute;

  left: 0;
  top: 0;

  padding: 58px 27px 68px 27px;
  font-size: 18px;
  line-height: 28px;

  letter-spacing: 0.03em;
  color: var(--white-color);
  transform: translateY(101%);
  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: transform;

  background-color: rgba(33, 150, 243, 0.9);
}
.progects-link:hover .progects-overlay,
.progects-link:focus .progects-overlay {
  transform: translateY(0);
}

.name-progect {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.image-portfolio {
  width: 100%;
}

.big-text-image {
  display: block;
  margin-bottom: 4px;

  font-size: 18px;
  line-height: 2;
  font-weight: 700;

  color: var(--body-text-color);
}

.small-text-image {
  display: block;
  color: var(--image-text-color);
  font-size: 16px;
  line-height: 1.8;
}

.active-botton {
  color: var(--white-color);
  background-color: var(--background-botton-color);
}

/* ---------------------------------------- footer */

.container-footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer {
  display: block;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer:last-child {
  margin: 0;
}

.footer-logo {
  display: block;

  margin-bottom: 20px;
}

.footer-social {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

.footer-join {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;

  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.person-icon-list {
  display: flex;
  flex-direction: row;

  justify-content: center;
  margin-top: 16px;
}

.person-list-items {
  display: flex;
  justify-content: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
}
.person-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: background-color;
}
.person-link:hover,
.person-link:active {
  background-color: var(--background-botton-color);
}

.person-icon-futer {
  width: 20px;
  height: 20px;
  fill: var(--white-color);

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: fill;
}

.footer-color {
  color: var(--white-color);

  transition-duration: var(--time-for-hover);
  transition-timing-function: var(--timing-fuktion);
  transition-property: color;
}

.footer-color:hover,
.footer-color:focus {
  color: var(--background-botton-color);
}

.footer-background-color {
  z-index: 1;

  background-color: var(--footer-background-color);
}

.back-color {
  background-color: var(--background-botton-color);
}
